@model LCode.InfraestruCode.Core.BD.Contexto.v1_0.Modelos.ServidoresSolicitud

@{
    ViewData["Title"] = "Detalles Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>En esta pantalla verifique el estado de su solicitud, actualice haciendo click <a onClick="window.location.href=window.location.href">aqui</a> </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioSolicita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioSolicita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraUltimaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraUltimaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver a Lista</a>
</div>
